$orange:#f86801;
$light-orange:#fee1cc;
$disabled-background:#eee;
$disabled-color:#aaa;
$dark:#000;
a{
    text-decoration: none;
    padding: 5px;
}
*{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1{
    font-weight: 200;
}